@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    background: #F4F2DE;
    main{
        width: 100%;
        height: 100%;


        .text{
            width: 100%;
            position: absolute;
            top:20%;
            left:50%;
            transform: translateX(-50%);

            h2{
                font: bold 45px "Single Day";
                color:#606C5D;
                text-align: center;
                margin-bottom: 30px;
                text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
            }
            h3{
                font:bold 30px "Single Day";
                color: #A78295;
                text-align: center;
                margin-bottom: 30px;
            }
        }
        figure{
            width:500px;
            padding: 3px;
            position: absolute;
            top:40%;
            left:50%;
            transform: translateX(-50%);
            img{
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }
    }
}